on:
  push:
    branches: [main]
jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: LoginDockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: BuildDockerImage
        run: docker build -t amalragab1/node-app:v3 .
      - name: PushImage
        run: docker push amalragab1/node-app:v3
  test-process:
    runs-on: ubuntu-latest
    steps:
      - name: TestProcess
        run: echo "Testing.."
  deploy-process:
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      - name: LoginDockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: DeployAWS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{secrets.AWS_IP}}
          username: ${{secrets.AWS_USER}}
          key: ${{secrets.AWS_KEY}}
          script: |
                  docker pull amalragab1/node-app:v3
                  
                  docker run -d -p 8080:3000 amalragab1/node-app:v3
          
  
